@model Assignment_Hospital_Management.Models.Doctor

<h1>Delete Doctor</h1>

<h4>Are you sure you want to delete this doctor?</h4>
<div>
    <h5>@Model.Name</h5>
    <p>Specialty: @Model.Specialty</p>
    <p>Hospital ID: @Model.HospitalId</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="DoctorId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

