@model Assignment_Hospital_Management.Models.Appointment

<h1>Delete Appointment</h1>

<h4>Are you sure you want to delete this appointment?</h4>
<div>
    <h5>Doctor: @Model.Doctor.Name</h5>
    <h5>Patient: @Model.Patient.Name</h5>
    <p>Appointment Date: @Model.AppointmentDate.ToShortDateString()</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="AppointmentId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
